@font-face {
  font-family: "openhuninn";
  src: url("@/assets/font/openhuninn.ttf") format("truetype");
}
@font-face {
  font-family: "ChenYuluoyan";
  src: url("@/assets/font/ChenYuluoyan.ttf") format("truetype");
}
